<?php require_once _VIEW_PATH . 'header.html'; ?>
            <!--상단 히스토리, 데이터로딩-->
            <div class="history">
                <span>▶</span>클라이언트<span>▶</span><strong>응용프로그램별 설정</strong>
            </div>

            <div class="data_loading">
                <span> IP : <?=$_SERVER['REMOTE_ADDR']?><strong><a href="#"><?=$_SESSION['admin']['name']?></a> 님 반갑습니다.</strong></span>
                <button id="btn-logout" class="btn" >LOGOUT</button>
            </div>
            <!--//상단 히스토리, 데이터로딩-->

            <!-- BOX 시작 -->
            <div class="box">
                <h3>응용프로그램별 설정</h3>
                <form name="frm_search" action="" method="GET">
                <div class="search_box">
                    <input type="text" name="name" class="ad_box" value="<?=$request['name']?>" placeholder="모든 응용프로그램" />
                    <button type="submit" class="btn btn_black">검색</button> <button type="button" class="btn btn_red btn-register">등록</button>
                </div>

                <select name="scale" class="">
                    <option value="50" <?=($request['scale'] == 50)?'selected="selected"':''?>>50줄</option>
                    <option value="100" <?=($request['scale'] == 100)?'selected="selected"':''?>>100줄</option>
                    <option value="200" <?=($request['scale'] == 200)?'selected="selected"':''?>>200줄</option>
                </select>
                </form>
                <div class="clear" style="margin-bottom:5px;"></div>

                <table class="table table_striped">
                    <tr>
                        <th scope="col">응용프로그램 이름</th>
                        <th scope="col">Job 집행</th>
                        <th scope="col">개발사</th>
                        <th scope="col">비고</th>
                    </tr>
                    <?php foreach ($list as $l):?>
                    <tr>
                        <td class="taL"><a href="javascript://" class="btn-modify" data-idx="<?=$l['idx']?>"><?=$l['name']?></a></td>
                        <td><?=$l['status']?></td>
                        <td><?=$l['company']?></td>
                        <td><?=$l['etc']?></td>
                    </tr>
                    <?php endforeach;?>
                </table>
                <?=$page_html?>
            </div>
<script type="text/javascript">
    $(function () {
        $('.btn-register').on('click', function (e) {
            e.preventDefault();
            popupOpen(_WEB_ROOT + '/client.php?act=softwareRegisterPop', 'softwareRegister', 700, 250);
        });
        $('.btn-modify').on('click', function (e) {
            e.preventDefault();
            popupOpen(_WEB_ROOT + '/client.php?act=softwareRegisterPop&idx=' + $(this).data('idx'), 'softwareRegister', 700, 250);
        });
    });
</script>
<?php require_once _VIEW_PATH . 'footer.html'; ?>