<?php require_once _VIEW_PATH . 'common.header.html'; ?>
    <div class="contents">
        <div class="box" style="max-width:1200px; width:calc(100% - 40px); margin:0 auto;">

            <h3>OS 언어 등록/수정<span><button class="btn btn-popup-close">팝업닫기</button></span></h3>
            <form name="frm_register" action="<?=_WEB_ROOT?>/client.php" method="POST">
            <input type="hidden" name="act" value="<?=(strlen($oslang_list[0]['code']) > 0)?'oslangModify':'oslangRegister'?>">
            <table class="table_popup">
                <tr>
                    <th scope="col">언어명</th>
                    <td><input type="text" name="name" class="i_box" value="<?=$oslang_list[0]['name']?>" /></td>
                </tr>
                <tr>
                    <th scope="col">언어코드</th>
                    <td><input type="text" name="code" class="i_box" placeholder="" value="<?=$oslang_list[0]['code']?>" <?=(strlen($oslang_list[0]['code']) > 0)?'readOnly':''?>/></td>
                </tr>
                <tr>
                    <th scope="col">상태</th>
                    <td><select name="status">
                        <?php foreach (OsLang::$status as $v):?>
                        <option value="<?=$v?>" <?=($v == $oslang_list[0]['status'])?'selected="selected"':''?>><?=$v?></option>
                        <?php endforeach;?>
                    </select></td>
                </tr>
            </table>

            <div class="pager">
                <button type="button" class="btn btn_bottom btn_black btn-popup-close">취소</button> <button type="submit" class="btn btn_bottom btn_red">등록/수정</button>
            </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
    $(function() {
        $('form[name=frm_register]').submit(function () {
            var bool = true;
            $(this).find('table input,table select').each(function (idx, data) {
                if ($.trim($(this).val()) == '') {
                    bool = false;
                    alert('값이 입력되지 않은 항목이 있습니다.');
                    $(this).focus();
                    return false;
                }
            });

            return bool;
        });
    });
</script>
<?php require_once _VIEW_PATH . 'footer.html'; ?>