<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=800" />

    <meta name="viewport" content="width=device-width, initial-scale=0.6">

    <title>Adserve Service - login</title>
    <!-- 메인스타일 -->
    <link rel="stylesheet" href="<?=_CSS_PATH?>style.css">
    <link rel="stylesheet" href="<?=_CSS_PATH?>icon.css">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="<?=_SCRIPT_PATH?>jquery.min.js"></script>
    <script src="<?=_SCRIPT_PATH?>common.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        var _WEB_ROOT = "<?=_WEB_ROOT?>";
    </script>
</head>

<body>